{% extends "mathclub/index.html" %}
{% load static %}


{% block title %}About | {% endblock %}
{% block alt-body %}

    <style>
        header {
            height: 0px;
            position: unset;
            overflow: auto;
            border-bottom: 10px solid #2882e7;
        }

        header:hover {
            height: 100px;
            transition-duration: 0.3s;
            border-bottom: 5px solid #2882e7;
        }
    </style>
    
    <div id="cams-banner"><h1>About the club</h1></div>

    <div class="card">
        <div class="content">
        <p class="body-text">The UWC MathClub started in 2017 as a WhatsApp group and was then mostly used as a platform to share and discuss SATMO problems and prepare for the SATMO competitions. In 2018, the idea came among us, students: 
            "Why not form a club that we can use for practicing Mathematics inside and outside the classroom?" 
            It then became a safe space where we practice and exercise our intelligence in Mathematics and enjoy ourselves while doing so. On International Pi Day (Thursday 3.14 in 2019) we launched the club at UWC, having up to 200 attendees, amongst them having our humble dean of the Science faculty (Prof. Mike Davies-Coleman), Mathematics and Applied Mathematics HOD (Prof. Kailash Patidar), lecturers, students and staff from across the institution.
            The purpose of the University of the Western Cape Mathematics society (called the UWC MathClub) is to discover different branches of Mathematics covered within schools and universities. It develops one's understanding of the subject through teaching, collaboration, participation, and leadership. 
            We the students organize and play a significant role in institutional extra co-curricular activities (namely community outreach, food security initiatives such as soup days, food parcel drives, etc.) as well as hosting events to encourage and motivate students in the area of Mathematics and Applied Mathematics.</p>
        </div>
    </div>
{% endblock %}