{% extends "mathclub/index.html" %}
{% load static %}

{% block title %}Team | {% endblock %}
{% block body %}
    <div></div>
    <div class="card">
        <div class="exec-container">
        <img class="exec-pp" src="{% static 'mathclub/images/profile.png' %}" width="200px" height="200px">
        <div class="exec-info">
            <h2>Rofhiwa Matumba</h2>
            <h3>Media Manager</h3>
            <p class="body-text">Rofhiwa Matumba is lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eos, tempora expedita dolore nihil modi voluptatem possimus mollitia labore ullam, in minima autem recusandae impedit laboriosam quaerat quam saepe dolor.</p>
        </div>
        </div>
    </div>
    <div></div>
{% endblock %}